<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target xsi:type="File"
               name="file"
               layout="${longdate}, ${level:uppercase=true}, ${machinename}, ${event-context:item=Category}, ${message}${onexception:, Exception\: ${exception:ToString,StackTrace,type, message,method:maxInnerExceptionLevel=10:innerFormat=shortType,message,method}}, ${event-context:item=CallerInfo}${newline}"
               maxArchiveFiles="30"
               archiveFileName="c:\Logs\Dropper\Archive.{#}.log"
               archiveNumbering="Date"
               archiveEvery="Day"
               archiveDateFormat="yyyy_MM_dd"
               archiveAboveSize="104857600"
               fileName="c:\Logs\Dropper\buyer.log"
               replaceFileContentsOnEachWrite="False"
               createDirs="True"
               concurrentWrites="True"
               concurrentWriteAttemptDelay="1"
               concurrentWriteAttempts="10"
               bufferSize="32768"
               autoFlush="True"
               keepFileOpen="False" />
  </targets>

  <rules>
    <logger name="*" writeTo="file"/>
  </rules>
</nlog>
